html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
button {
  width: 150px;
	height: 40px; 
  background: #1E6FB9;
	border-radius: 5px;
	color: #FFFFFF;
	font-size: 18px;
	cursor: pointer;
  border: 0px solid ;
}

* {
  box-sizing: border-box;
}

ul li {
	list-style: none;
}
