.progress {

	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	justify-content: space-evenly;
	align-content: center;


	div {
		border: 0px solid #88afe9;
		width: 80px;
		height: 8px;
		background-color: rgb(249, 252, 255);
		border-radius: 4px;

	}

	.progress__item {
		background-color: rgb(107, 140, 231);
	}
}